/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/

.idea/compiler.xml

.idea/libraries/Leiningen__clojure_complete_0_2_4.xml

.idea/libraries/Leiningen__com_jcraft_jsch_0_1_42.xml

.idea/libraries/Leiningen__org_clojure_clojure_1_8_0.xml

.idea/libraries/Leiningen__org_clojure_tools_nrepl_0_2_12.xml

.idea/misc.xml

.idea/modules.xml

.idea/workspace.xml
